<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084274473577-opksrj3rj6ck83r4as227m8j5kt6grnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084274473577-opksrj3rj6ck83r4as227m8j5kt6grnj</string>
	<key>API_KEY</key>
	<string>AIzaSyAxkWTG9F5k6Up_TiZDHTzKwqP9nTQS4RU</string>
	<key>GCM_SENDER_ID</key>
	<string>1084274473577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abdulCo.toDo</string>
	<key>PROJECT_ID</key>
	<string>to-dov</string>
	<key>STORAGE_BUCKET</key>
	<string>to-dov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084274473577:ios:34a6042a2f72e08f2fc0f8</string>
	<key>DATABASE_URL</key>
	<string>https://to-dov.firebaseio.com</string>
</dict>
</plist>